<header class="mt-[16px] mb-[48px]">
    <h1 class="text-[64px] mb-[16px] font-bold">{{title}}</h1>
    <nav class="[&>a]:text-[#888888] [&>a]:mr-[16px]">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    </nav>
</header>