<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://icons.veryicon.com/png/o/miscellaneous/common-icons-17/weather-89.png">
    <title>About</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="body-style">
    <div class="main-content">
        {{> header}}
        <img class="w-[250px]" src="https://i.pinimg.com/originals/81/95/35/819535e58dac7afba890c3bf3dd836a8.jpg" alt="photo"> 
    </div>
    {{>footer}}
</body>
</html>