<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="https://icons.veryicon.com/png/o/miscellaneous/common-icons-17/weather-89.png">
    <link href="/output.css" rel="stylesheet">

</head>  
<body class="body-style">
    <div class="main-content">
        {{> header}}
    </div>
    {{>footer}}
</body>
</html>